USE [master]
GO
DROP DATABASE IF EXISTS StudentManager.Database
/****** Object:  Database [StudentManager.Database]    Script Date: 8/5/2020 5:20:22 PM ******/
CREATE DATABASE [StudentManager.Database]
GO
USE [StudentManager.Database]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[Account](
	[PersonalInfoId] [char](7) NOT NULL,
	[Password] [varchar](64) NOT NULL,
	[IsActivated] [int] NOT NULL,
 CONSTRAINT [PK__Account__EA7BF0E441FF5BE7] PRIMARY KEY CLUSTERED 
(
	[PersonalInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Class]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[Class](
	[ClassId] [char](4) NOT NULL,
	[ClassName] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[ClassNotification]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[ClassNotification](
	[NotificationId] [int] NOT NULL,
	[CreatedOn] [date] NOT NULL,
	[ClassId] [char](4) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[EnrolledClass]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[EnrolledClass](
	[StudentId] [char](7) NOT NULL,
	[ClassId] [char](4) NOT NULL,
 CONSTRAINT [PK_EnrolledClass] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Feedback]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [char](9) NOT NULL,
	[StudentId] [char](7) NOT NULL,
	[Semester] [int] NOT NULL,
	[AcademicYear] [int] NOT NULL,
	[Feedback] [nvarchar](100) NOT NULL,
	[Conduct] [char](1) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[HomeRoom]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[HomeRoom](
	[ClassId] [char](4) NOT NULL,
	[TeacherId] [char](7) NOT NULL,
	[AcademicYear] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonalInfo]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[PersonalInfo](
	[PersonalInfoId] [char](7) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[LastName] [nvarchar](10) NOT NULL,
	[FirstName] [nvarchar](10) NOT NULL,
	[MiddleName] [nvarchar](10) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PhoneNumber] [char](10) NOT NULL,
	[IsMale] [bit] NOT NULL,
	[Birthday] [date] NOT NULL,
	[Photo] [varchar](max) NULL,
	[PersonTypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonalInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonType]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[PersonType](
	[PersonTypeID] [int] NOT NULL,
	[PersonType] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[Room](
	[RoomId] [char](10) NOT NULL,
	[RoomName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Schedule]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[Schedule](
	[ScheduleId] [char](10) NOT NULL,
	[SessionId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[ClassId] [char](4) NOT NULL,
	[RoomId] [char](10) NOT NULL,
	[Semester] [int] NOT NULL,
	[AcademicYear] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[SchoolRole]    Script Date: 8/5/2020 5:20:23 PM ******/
GO
CREATE TABLE [dbo].[SchoolRole](
	[RoleId] [char](10) NOT NULL,
	[RoleLevel] [int] NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Score]    Script Date: 8/5/2020 5:20:23 PM ******/
CREATE TABLE [dbo].[Score](
	[SubjectId] [int] NOT NULL,
	[StudentId] [char](7) NOT NULL,
	[Semester] [int] NOT NULL,
	[AcademicYear] [int] NOT NULL,
	[ScoreType] [int] NOT NULL,
	[ScoreValue] [float] NOT NULL,
 CONSTRAINT [PK_Score] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC,
	[StudentId] ASC,
	[Semester] ASC,
	[AcademicYear] ASC,
	[ScoreType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

GO
/****** Object:  Table [dbo].[Session]    Script Date: 8/5/2020 5:20:23 PM ******/

GO

GO
CREATE TABLE [dbo].[Session](
	[SessionId] [int] NOT NULL,
	[BeginTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/5/2020 5:20:23 PM ******/

GO

GO

GO
CREATE TABLE [dbo].[Student](
	[StudentId] [char](7) NOT NULL,
	[PersonTypeID]  AS ((1)) PERSISTED NOT NULL,
	[IsGraduated] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

GO
/****** Object:  Table [dbo].[Subject]    Script Date: 8/5/2020 5:20:23 PM ******/

GO

GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 8/5/2020 5:20:23 PM ******/

GO

GO

GO
CREATE TABLE [dbo].[Teacher](
	[TeacherId] [char](7) NOT NULL,
	[PersonTypeID]  AS ((2)) PERSISTED NOT NULL,
	[SubjectId] [int] NOT NULL,
	[RoleId] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

GO
INSERT [dbo].[Account] ([PersonalInfoId], [Password], [IsActivated]) VALUES (N'0000000', N'$2a$10$lbAYo.bIwQ/FnecV1GRo7eCme9TyIFEEkTpXwRft6Wbm9jw8Ymr/.', 1)
INSERT [dbo].[Account] ([PersonalInfoId], [Password], [IsActivated]) VALUES (N'1140713', N'$2a$10$AgqfxYtXwaAT1faGixCltexGr1vY1zot0ZIKD4ntrGxNtzBztEg/S', 1)
INSERT [dbo].[Class] ([ClassId], [ClassName]) VALUES (N'10A1', N'10A1')
INSERT [dbo].[Class] ([ClassId], [ClassName]) VALUES (N'10A2', N'10A2')
INSERT [dbo].[Class] ([ClassId], [ClassName]) VALUES (N'11A1', N'11A1')
INSERT [dbo].[ClassNotification] ([NotificationId], [CreatedOn], [ClassId], [Title], [Content]) VALUES (1, CAST(0xB1400B00 AS Date), N'12A1', N'Thông báo học vụ', N'Học sinh nhanh chóng đóng tiền học phí học kì 2')
INSERT [dbo].[ClassNotification] ([NotificationId], [CreatedOn], [ClassId], [Title], [Content]) VALUES (2, CAST(0xB1400B00 AS Date), N'12A2', N'Thông báo học vụ', N'Học sinh nhanh chóng thanh toán tiền học phí học kỳ 2')
INSERT [dbo].[ClassNotification] ([NotificationId], [CreatedOn], [ClassId], [Title], [Content]) VALUES (3, CAST(0xD0400B00 AS Date), N'11A1', N'Thông báo thi', N'Lịch thi và danh sách thi trên moodle')
INSERT [dbo].[EnrolledClass] ([StudentId], [ClassId]) VALUES (N'1140715', N'11A1')
INSERT [dbo].[EnrolledClass] ([StudentId], [ClassId]) VALUES (N'1140716', N'11A1')
INSERT [dbo].[EnrolledClass] ([StudentId], [ClassId]) VALUES (N'1140717', N'11A1')
INSERT [dbo].[Feedback] ([FeedbackId], [StudentId], [Semester], [AcademicYear], [Feedback], [Conduct]) VALUES (N'111140715', N'1140715', 1, 2020, N'Thua, no comment', N'C')
INSERT [dbo].[Feedback] ([FeedbackId], [StudentId], [Semester], [AcademicYear], [Feedback], [Conduct]) VALUES (N'111140716', N'1140716', 1, 2020, N'Em học rất bình thường', N'A')
INSERT [dbo].[Feedback] ([FeedbackId], [StudentId], [Semester], [AcademicYear], [Feedback], [Conduct]) VALUES (N'111140717', N'1140717', 1, 2020, N'Em học rất tốt', N'A')
INSERT [dbo].[HomeRoom] ([ClassId], [TeacherId], [AcademicYear]) VALUES (N'11A1', N'0000003', 2020)
INSERT [dbo].[HomeRoom] ([ClassId], [TeacherId], [AcademicYear]) VALUES (N'12A1', N'0000001', 2020)
INSERT [dbo].[HomeRoom] ([ClassId], [TeacherId], [AcademicYear]) VALUES (N'12A2', N'0000002', 2020)
INSERT [dbo].[PersonalInfo] ([PersonalInfoId], [Address], [LastName], [FirstName], [MiddleName], [Email], [PhoneNumber], [IsMale], [Birthday], [Photo], [PersonTypeID]) VALUES (N'0000000', N'2/13 Thống Nhất, phường 16, quận Gò Vấp, Tp. HCM', N'Nguyễn', N'Đạo', N'Bá', N'nbdao@gmail.com', N'0923856621', 1, CAST(0x900A0B00 AS Date), NULL, 2)
INSERT [dbo].[PersonalInfo] ([PersonalInfoId], [Address], [LastName], [FirstName], [MiddleName], [Email], [PhoneNumber], [IsMale], [Birthday], [Photo], [PersonTypeID]) VALUES (N'0000001', N'Số 11, đường Hương Lam, Phường Tân Hưng, Quận 7, Tp. HCM', N'Lê', N'Em', N'Văn', N'lvem@gmail.com', N'0902000672', 1, CAST(0x1B190B00 AS Date), NULL, 2)
INSERT [dbo].[PersonalInfo] ([PersonalInfoId], [Address], [LastName], [FirstName], [MiddleName], [Email], [PhoneNumber], [IsMale], [Birthday], [Photo], [PersonTypeID]) VALUES (N'0000002', N'399/1B, đường số 8, phường 11, quận Gò Vấp, TPHCM', N'Võ', N'Hường', N'Thị Thu', N'vtthuong@gmail.com', N'0902310063', 1, CAST(0xAE120B00 AS Date), NULL, 2)
INSERT [dbo].[PersonType] ([PersonTypeID], [PersonType]) VALUES (1, N'Student')
INSERT [dbo].[PersonType] ([PersonTypeID], [PersonType]) VALUES (2, N'Teacher')
INSERT [dbo].[PersonType] ([PersonTypeID], [PersonType]) VALUES (3, N'Parent')
INSERT [dbo].[Room] ([RoomId], [RoomName]) VALUES (N'0000000000', N'A000')
INSERT [dbo].[Room] ([RoomId], [RoomName]) VALUES (N'0000000001', N'A001')
INSERT [dbo].[Room] ([RoomId], [RoomName]) VALUES (N'0000000002', N'A002')
INSERT [dbo].[Schedule] ([ScheduleId], [SessionId], [SubjectId], [ClassId], [RoomId], [Semester], [AcademicYear], [DayOfWeek]) VALUES (N'11A1000001', 1, 1, N'11A1', N'0000000005', 1, 2020, 2)
INSERT [dbo].[Schedule] ([ScheduleId], [SessionId], [SubjectId], [ClassId], [RoomId], [Semester], [AcademicYear], [DayOfWeek]) VALUES (N'11A1000002', 2, 1, N'11A1', N'0000000005', 1, 2020, 2)
INSERT [dbo].[Schedule] ([ScheduleId], [SessionId], [SubjectId], [ClassId], [RoomId], [Semester], [AcademicYear], [DayOfWeek]) VALUES (N'11A1000003', 3, 7, N'11A1', N'0000000005', 1, 2020, 2)
INSERT [dbo].[SchoolRole] ([RoleId], [RoleLevel], [RoleName]) VALUES (N'0000000000', 0, N'Hiệu trưởng')
INSERT [dbo].[SchoolRole] ([RoleId], [RoleLevel], [RoleName]) VALUES (N'1000000001', 1, N'Phó hiệu trưởng 1')
INSERT [dbo].[SchoolRole] ([RoleId], [RoleLevel], [RoleName]) VALUES (N'1000000002', 1, N'Phó hiệu trưởng 2')
INSERT [dbo].[Score] ([SubjectId], [StudentId], [Semester], [AcademicYear], [ScoreType], [ScoreValue]) VALUES (1, N'1140711', 1, 2020, 1, 7.3)
INSERT [dbo].[Score] ([SubjectId], [StudentId], [Semester], [AcademicYear], [ScoreType], [ScoreValue]) VALUES (1, N'1140711', 1, 2020, 2, 9.5)
INSERT [dbo].[Score] ([SubjectId], [StudentId], [Semester], [AcademicYear], [ScoreType], [ScoreValue]) VALUES (1, N'1140711', 1, 2020, 3, 7.5)
GO
INSERT [dbo].[Session] ([SessionId], [BeginTime], [EndTime]) VALUES (1, CAST(0x0700D85EAC3A0000 AS Time), CAST(0x070026B2F5400000 AS Time))
INSERT [dbo].[Session] ([SessionId], [BeginTime], [EndTime]) VALUES (2, CAST(0x07008482A8410000 AS Time), CAST(0x0700D2D5F1470000 AS Time))
INSERT [dbo].[Session] ([SessionId], [BeginTime], [EndTime]) VALUES (3, CAST(0x0700A8E76F4B0000 AS Time), CAST(0x0700F63AB9510000 AS Time))

INSERT [dbo].[Student] ([StudentId], [IsGraduated]) VALUES (N'1140710', 1)
INSERT [dbo].[Student] ([StudentId], [IsGraduated]) VALUES (N'1140711', 0)
INSERT [dbo].[Student] ([StudentId], [IsGraduated]) VALUES (N'1140712', 0)
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubjectId], [SubjectName]) VALUES (8, N'Đạo đức')
INSERT [dbo].[Subject] ([SubjectId], [SubjectName]) VALUES (6, N'Địa lý')
INSERT [dbo].[Subject] ([SubjectId], [SubjectName]) VALUES (3, N'Hóa học')
SET IDENTITY_INSERT [dbo].[Subject] OFF

INSERT [dbo].[Teacher] ([TeacherId], [SubjectId], [RoleId]) VALUES (N'0000000', 1, N'0000000000')
INSERT [dbo].[Teacher] ([TeacherId], [SubjectId], [RoleId]) VALUES (N'0000001', 1, N'4000000001')
INSERT [dbo].[Teacher] ([TeacherId], [SubjectId], [RoleId]) VALUES (N'0000002', 2, N'4000000001')



GO
/****** Object:  Index [People_AltPK]    Script Date: 8/5/2020 5:20:23 PM ******/
ALTER TABLE [dbo].[PersonalInfo] ADD  CONSTRAINT [People_AltPK] UNIQUE NONCLUSTERED 
(
	[PersonalInfoId] ASC,
	[PersonTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


GO
/****** Object:  Index [UQ__Room__6B500B55DAB96D48]    Script Date: 8/5/2020 5:20:23 PM ******/
ALTER TABLE [dbo].[Room] ADD UNIQUE NONCLUSTERED 
(
	[RoomName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


GO
/****** Object:  Index [UK_SubjectName]    Script Date: 8/5/2020 5:20:23 PM ******/
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [UK_SubjectName] UNIQUE NONCLUSTERED 
(
	[SubjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__IsActiv__5CD6CB2B]  DEFAULT ((1)) FOR [IsActivated]
GO
ALTER TABLE [dbo].[ClassNotification] ADD  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[ClassNotification] ADD  DEFAULT ('') FOR [Content]
GO
ALTER TABLE [dbo].[PersonalInfo] ADD  DEFAULT ((0)) FOR [IsMale]
GO
ALTER TABLE [dbo].[Score] ADD  DEFAULT ((-1)) FOR [ScoreValue]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((0)) FOR [IsGraduated]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_personalinfoid] FOREIGN KEY([PersonalInfoId])
REFERENCES [dbo].[PersonalInfo] ([PersonalInfoId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_personalinfoid]
GO
ALTER TABLE [dbo].[ClassNotification]  WITH CHECK ADD  CONSTRAINT [FK_ClassNotification_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassNotification] CHECK CONSTRAINT [FK_ClassNotification_Class]
GO
ALTER TABLE [dbo].[EnrolledClass]  WITH CHECK ADD  CONSTRAINT [FK_EnrolledClass_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnrolledClass] CHECK CONSTRAINT [FK_EnrolledClass_Class]
GO
ALTER TABLE [dbo].[EnrolledClass]  WITH CHECK ADD  CONSTRAINT [FK_EnrolledClass_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnrolledClass] CHECK CONSTRAINT [FK_EnrolledClass_Student]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Student]
GO
ALTER TABLE [dbo].[HomeRoom]  WITH CHECK ADD  CONSTRAINT [FK_HomeRoom_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeRoom] CHECK CONSTRAINT [FK_HomeRoom_Class]
GO
ALTER TABLE [dbo].[HomeRoom]  WITH CHECK ADD  CONSTRAINT [FK_HomeRoom_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([TeacherId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeRoom] CHECK CONSTRAINT [FK_HomeRoom_Teacher]
GO
ALTER TABLE [dbo].[PersonalInfo]  WITH CHECK ADD FOREIGN KEY([PersonTypeID])
REFERENCES [dbo].[PersonType] ([PersonTypeID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSchedule_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_SubjectSchedule_Class]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSchedule_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_SubjectSchedule_Room]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSchedule_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_SubjectSchedule_Session]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSchedule_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_SubjectSchedule_Subject]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_Student]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_Subject]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([StudentId], [PersonTypeID])
REFERENCES [dbo].[PersonalInfo] ([PersonalInfoId], [PersonTypeID])
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([TeacherId], [PersonTypeID])
REFERENCES [dbo].[PersonalInfo] ([PersonalInfoId], [PersonTypeID])
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_SchoolRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[SchoolRole] ([RoleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_SchoolRole]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Subject]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [CK_Feedback_FeedbackID] CHECK  ((isnumeric([FeedbackId])=(1)))
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [CK_Feedback_FeedbackID]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [CK_Feedback_HocKi] CHECK  (([Semester]>=(1) AND [Semester]<=(2)))
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [CK_Feedback_HocKi]
GO
ALTER TABLE [dbo].[PersonalInfo]  WITH CHECK ADD  CONSTRAINT [CK_PersonalInfo_Email] CHECK  ((charindex('@gmail.com',[Email])>(0)))
GO
ALTER TABLE [dbo].[PersonalInfo] CHECK CONSTRAINT [CK_PersonalInfo_Email]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [CK_Score_Diem] CHECK  (([ScoreValue]>=(-1) AND [ScoreValue]<=(10)))
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [CK_Score_Diem]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [CK_Score_HocKi] CHECK  (([Semester]>=(1) AND [Semester]<=(2)))
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [CK_Score_HocKi]
GO
USE [master]
GO
